@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
  background: #F5F6F7;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 64.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.application__container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.application__body {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.application__head {
  text-align: center;
  position: relative;
}

.application__head *:last-child {
  margin-bottom: 0;
}

.application__logo {
  position: absolute;
  top: 10px;
  left: 0;
}

.application__logo img {
  max-width: 100%;
}

.application__title {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.0833333333;
  font-weight: 700;
}

.application__subtitle {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}

.application__button {
  padding: 0 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.1666666667;
  font-weight: 700;
  background: #000000;
  border-radius: 100px;
  color: #fff;
  max-width: 168px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 10px;
}

.timer-application__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  line-height: 1.1875;
}

.timer-application__label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/attention2.svg") left no-repeat;
}

.timer-application__line {
  background: #F5F6F7;
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 100px;
  position: relative;
}

.timer-application__line span {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: -webkit-gradient(linear, left top, left bottom, from(#FDDC2B), to(#E4C312));
  background: -o-linear-gradient(top, #FDDC2B 0%, #E4C312 100%);
  background: linear-gradient(180deg, #FDDC2B 0%, #E4C312 100%);
  border-radius: 100px;
  width: 100%;
  -webkit-transition: width 1s linear;
  -o-transition: width 1s linear;
  transition: width 1s linear;
}

.timer-application__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 8px;
}

.timer-application__item {
  background: #F5F6F7;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  word-wrap: break-word;
}

.timer-application__caption {
  line-height: 1.5555555556;
  font-weight: 700;
  margin-bottom: 5px;
}

.timer-application__text {
  line-height: 1.1111111111;
  font-weight: 400;
}

.must-application {
  text-align: center;
}

.must-application__title {
  max-width: 486px;
  margin: 0 auto;
  line-height: 1.1818181818;
  font-weight: 700;
}

.must-application__label {
  line-height: 1.1666666667;
}

.must-application__label span {
  font-weight: 700;
}

.must-application__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 132px;
  grid-template-columns: auto 132px;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
  row-gap: 16px;
}

.must-application__attention {
  background: #FCFAF2;
  border: 1px solid #E4C312;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.5555555556;
  word-wrap: break-word;
}

@media (min-width: 64.25em) {
  .application__body {
    padding-top: 2.5rem;
  }

  .application__body {
    padding-bottom: 3.125rem;
  }

  .application__body {
    padding-left: 6.25rem;
  }

  .application__body {
    padding-right: 6.25rem;
  }

  .application__head {
    margin-bottom: 3.5rem;
  }

  .application__title {
    margin-bottom: 0.625rem;
  }

  .application__title {
    font-size: 2rem;
  }

  .application__subtitle {
    font-size: 1.25rem;
  }

  .application__timer {
    margin-bottom: 2.5rem;
  }

  .application__button {
    min-height: 4.375rem;
  }

  .application__button {
    font-size: 1.125rem;
  }

  .timer-application__label {
    font-size: 1rem;
  }

  .timer-application__label {
    margin-bottom: 0.875rem;
  }

  .timer-application__line {
    margin-bottom: 2.5rem;
  }

  .timer-application__line {
    min-height: 1rem;
  }

  .timer-application__line span {
    min-height: 0.75rem;
  }

  .timer-application__item {
    padding-top: 1.5rem;
  }

  .timer-application__item {
    padding-bottom: 1.5rem;
  }

  .timer-application__caption {
    font-size: 1.125rem;
  }

  .timer-application__text {
    font-size: 1.125rem;
  }

  .must-application__title {
    font-size: 1.375rem;
  }

  .must-application__title {
    margin-bottom: 1.875rem;
  }

  .must-application__label {
    margin-bottom: 1.875rem;
  }

  .must-application__label {
    font-size: 1.125rem;
  }

  .must-application__row {
    margin-bottom: 1.875rem;
  }

  .must-application__attention {
    font-size: 1.125rem;
  }
}

@media (max-width: 62em) {
  .application__body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 48em) {
  .application__body {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 640px) {
  .must-application__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .application__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .application__logo {
    position: relative;
    margin-bottom: 24px;
  }

  .must-application {
    text-align: left;
  }

  .must-application__qr {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .timer-application__items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 22.5em) {
  .application__body {
    padding-top: 1.875rem;
  }

  .application__body {
    padding-bottom: 1.875rem;
  }

  .application__body {
    padding-left: 1rem;
  }

  .application__body {
    padding-right: 1rem;
  }

  .application__head {
    margin-bottom: 1.5rem;
  }

  .application__title {
    margin-bottom: 1rem;
  }

  .application__title {
    font-size: 1.5rem;
  }

  .application__subtitle {
    font-size: 0.9375rem;
  }

  .application__timer {
    margin-bottom: 1.5rem;
  }

  .application__button {
    min-height: 3.125rem;
  }

  .application__button {
    font-size: 0.9375rem;
  }

  .timer-application__label {
    font-size: 0.8125rem;
  }

  .timer-application__label {
    margin-bottom: 1.25rem;
  }

  .timer-application__line {
    margin-bottom: 1.5rem;
  }

  .timer-application__line {
    min-height: 0.75rem;
  }

  .timer-application__line span {
    min-height: 0.5rem;
  }

  .timer-application__item {
    padding-top: 1rem;
  }

  .timer-application__item {
    padding-bottom: 1rem;
  }

  .timer-application__caption {
    font-size: 0.9375rem;
  }

  .timer-application__text {
    font-size: 0.9375rem;
  }

  .must-application__title {
    font-size: 0.9375rem;
  }

  .must-application__title {
    margin-bottom: 1rem;
  }

  .must-application__label {
    margin-bottom: 1rem;
  }

  .must-application__label {
    font-size: 0.9375rem;
  }

  .must-application__row {
    margin-bottom: 1.25rem;
  }

  .must-application__attention {
    font-size: 0.9375rem;
  }
}

@media (min-width: 22.5em) and (max-width: 64.25em) {
@supports (padding-top: clamp( 1.875rem , 1.5381736527rem  +  1.497005988vw , 2.5rem )) {
    .application__body {
      padding-top: clamp( 1.875rem , 1.5381736527rem  +  1.497005988vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.5381736527rem  +  1.497005988vw , 2.5rem )) {
    .application__body {
      padding-top: calc(1.875rem + 0.625 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2013473054rem  +  2.994011976vw , 3.125rem )) {
    .application__body {
      padding-bottom: clamp( 1.875rem , 1.2013473054rem  +  2.994011976vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2013473054rem  +  2.994011976vw , 3.125rem )) {
    .application__body {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (padding-left: clamp( 1rem , -1.8293413174rem  +  12.5748502994vw , 6.25rem )) {
    .application__body {
      padding-left: clamp( 1rem , -1.8293413174rem  +  12.5748502994vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 1rem , -1.8293413174rem  +  12.5748502994vw , 6.25rem )) {
    .application__body {
      padding-left: calc(1rem + 5.25 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (padding-right: clamp( 1rem , -1.8293413174rem  +  12.5748502994vw , 6.25rem )) {
    .application__body {
      padding-right: clamp( 1rem , -1.8293413174rem  +  12.5748502994vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 1rem , -1.8293413174rem  +  12.5748502994vw , 6.25rem )) {
    .application__body {
      padding-right: calc(1rem + 5.25 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 0.4221556886rem  +  4.7904191617vw , 3.5rem )) {
    .application__head {
      margin-bottom: clamp( 1.5rem , 0.4221556886rem  +  4.7904191617vw , 3.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.4221556886rem  +  4.7904191617vw , 3.5rem )) {
    .application__head {
      margin-bottom: calc(1.5rem + 2 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 1.2020958084rem  +  -0.8982035928vw , 1rem )) {
    .application__title {
      margin-bottom: clamp( 0.625rem , 1.2020958084rem  +  -0.8982035928vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 1.2020958084rem  +  -0.8982035928vw , 1rem )) {
    .application__title {
      margin-bottom: calc(1rem + -0.375 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2305389222rem  +  1.1976047904vw , 2rem )) {
    .application__title {
      font-size: clamp( 1.5rem , 1.2305389222rem  +  1.1976047904vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2305389222rem  +  1.1976047904vw , 2rem )) {
    .application__title {
      font-size: calc(1.5rem + 0.5 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.7690868263rem  +  0.748502994vw , 1.25rem )) {
    .application__subtitle {
      font-size: clamp( 0.9375rem , 0.7690868263rem  +  0.748502994vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.7690868263rem  +  0.748502994vw , 1.25rem )) {
    .application__subtitle {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 0.9610778443rem  +  2.3952095808vw , 2.5rem )) {
    .application__timer {
      margin-bottom: clamp( 1.5rem , 0.9610778443rem  +  2.3952095808vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.9610778443rem  +  2.3952095808vw , 2.5rem )) {
    .application__timer {
      margin-bottom: calc(1.5rem + 1 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (min-height: clamp( 3.125rem , 2.4513473054rem  +  2.994011976vw , 4.375rem )) {
    .application__button {
      min-height: clamp( 3.125rem , 2.4513473054rem  +  2.994011976vw , 4.375rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 2.4513473054rem  +  2.994011976vw , 4.375rem )) {
    .application__button {
      min-height: calc(3.125rem + 1.25 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .application__button {
      font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .application__button {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7114520958rem  +  0.4491017964vw , 1rem )) {
    .timer-application__label {
      font-size: clamp( 0.8125rem , 0.7114520958rem  +  0.4491017964vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7114520958rem  +  0.4491017964vw , 1rem )) {
    .timer-application__label {
      font-size: calc(0.8125rem + 0.1875 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (margin-bottom: clamp( 0.875rem , 1.4520958084rem  +  -0.8982035928vw , 1.25rem )) {
    .timer-application__label {
      margin-bottom: clamp( 0.875rem , 1.4520958084rem  +  -0.8982035928vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.875rem , 1.4520958084rem  +  -0.8982035928vw , 1.25rem )) {
    .timer-application__label {
      margin-bottom: calc(1.25rem + -0.375 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 0.9610778443rem  +  2.3952095808vw , 2.5rem )) {
    .timer-application__line {
      margin-bottom: clamp( 1.5rem , 0.9610778443rem  +  2.3952095808vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.9610778443rem  +  2.3952095808vw , 2.5rem )) {
    .timer-application__line {
      margin-bottom: calc(1.5rem + 1 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (min-height: clamp( 0.75rem , 0.6152694611rem  +  0.5988023952vw , 1rem )) {
    .timer-application__line {
      min-height: clamp( 0.75rem , 0.6152694611rem  +  0.5988023952vw , 1rem );
    }
}

@supports not (min-height: clamp( 0.75rem , 0.6152694611rem  +  0.5988023952vw , 1rem )) {
    .timer-application__line {
      min-height: calc(0.75rem + 0.25 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (min-height: clamp( 0.5rem , 0.3652694611rem  +  0.5988023952vw , 0.75rem )) {
    .timer-application__line span {
      min-height: clamp( 0.5rem , 0.3652694611rem  +  0.5988023952vw , 0.75rem );
    }
}

@supports not (min-height: clamp( 0.5rem , 0.3652694611rem  +  0.5988023952vw , 0.75rem )) {
    .timer-application__line span {
      min-height: calc(0.5rem + 0.25 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (padding-top: clamp( 1rem , 0.7305389222rem  +  1.1976047904vw , 1.5rem )) {
    .timer-application__item {
      padding-top: clamp( 1rem , 0.7305389222rem  +  1.1976047904vw , 1.5rem );
    }
}

@supports not (padding-top: clamp( 1rem , 0.7305389222rem  +  1.1976047904vw , 1.5rem )) {
    .timer-application__item {
      padding-top: calc(1rem + 0.5 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (padding-bottom: clamp( 1rem , 0.7305389222rem  +  1.1976047904vw , 1.5rem )) {
    .timer-application__item {
      padding-bottom: clamp( 1rem , 0.7305389222rem  +  1.1976047904vw , 1.5rem );
    }
}

@supports not (padding-bottom: clamp( 1rem , 0.7305389222rem  +  1.1976047904vw , 1.5rem )) {
    .timer-application__item {
      padding-bottom: calc(1rem + 0.5 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .timer-application__caption {
      font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .timer-application__caption {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .timer-application__text {
      font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .timer-application__text {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.7017215569rem  +  1.0479041916vw , 1.375rem )) {
    .must-application__title {
      font-size: clamp( 0.9375rem , 0.7017215569rem  +  1.0479041916vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.7017215569rem  +  1.0479041916vw , 1.375rem )) {
    .must-application__title {
      font-size: calc(0.9375rem + 0.4375 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.5284431138rem  +  2.0958083832vw , 1.875rem )) {
    .must-application__title {
      margin-bottom: clamp( 1rem , 0.5284431138rem  +  2.0958083832vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.5284431138rem  +  2.0958083832vw , 1.875rem )) {
    .must-application__title {
      margin-bottom: calc(1rem + 0.875 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.5284431138rem  +  2.0958083832vw , 1.875rem )) {
    .must-application__label {
      margin-bottom: clamp( 1rem , 0.5284431138rem  +  2.0958083832vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.5284431138rem  +  2.0958083832vw , 1.875rem )) {
    .must-application__label {
      margin-bottom: calc(1rem + 0.875 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .must-application__label {
      font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .must-application__label {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9131736527rem  +  1.497005988vw , 1.875rem )) {
    .must-application__row {
      margin-bottom: clamp( 1.25rem , 0.9131736527rem  +  1.497005988vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9131736527rem  +  1.497005988vw , 1.875rem )) {
    .must-application__row {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 22.5rem) / 41.75);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .must-application__attention {
      font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8364520958rem  +  0.4491017964vw , 1.125rem )) {
    .must-application__attention {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 22.5rem) / 41.75);
    }
}
}

@media (any-hover: hover) {
  .application__button:hover {
    background-color: #fff;
    color: #000;
  }
}